<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods" name="C:/Users/djrag/IdeaProjects/WebAutomation">
        <classes>
            <class name="com.testingAcademy.vwo.LoginTests.LoginTest">
                <methods>
                    <include name="testLoginPositive"/>
                    <include name="testLoginNegative"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>